archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
backports.zstd @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.zstd_1778594045/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1764016952863/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1779285033994/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1761202849727/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1775127091311/work
cloudpickle==3.1.2
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1777457670951/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1778768113160/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1751548120229/work
contourpy==1.4.0
cycler==0.12.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
fonttools==4.65.0
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1763082805158/work
greenlet==3.5.6
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1779999227/work
iniconfig==2.3.0
joblib==1.6.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonpointer_1774311356/work
kiwisolver==1.5.1
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_libmambapy_1767884157/work/libmambapy
matplotlib==3.11.2
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1765733091762/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1762504002517/work
numpy==2.5.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas==3.0.5
pillow==12.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1779972894/work
playwright==1.62.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1757744643758/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
pyee==13.0.1
Pygments==2.21.0
pyparsing==3.3.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==9.1.1
python-dateutil==2.9.0.post0
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ruamel.yaml_1766175790/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ruamel.yaml.clib_1766159512/work
scikit-learn==1.8.0
scipy==1.18.1
setuptools==82.0.1
six==1.17.0
threadpoolctl==3.7.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1766494826/work
typing_extensions==4.16.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
zstandard==0.25.0
